<html>
<head>
    <meta charset="UTF-8">
    <title>Early Years</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-image: url('static/crayons.jpg');
            background-size: auto;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: auto;
            background-color: #f2f0ef;
            font-family: 'Arial', sans-serif;
            font-size: 16px;  line-height: 1.6;

            .container-fluid{
                background-color:#f2f0ef;
                color:#000;
            }
            }

            body.dark-mode {
            background-image: url('static/night-sky.jpg');
            background-color: #333;
            color: whitesmoke;

            nav{
            background-color:#E0115F
            }

            }

            body.dark-mode header{
                background-color:#777777
            }

            body.dark-mode .mt-4{
                background-color:#777777
            }

            /* Header styling */
            header{
                background-size: auto;
            background-position: auto;
                background-color: white

            }
            h1 {
            font-size: 36px;
            text-align: center;
            margin: 1px;
            color: #333;
            }
            h3{
                text-align:center;
            }

            /* Navigation bar styling */
            nav{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #0da2e7;
            border-radius: 20px;
            box-shadow: 0px 4px 6px
            rgba(0, 0, 0, 0.1);
            }

            .navbar .dark-mode{
    background-color:#E0115F
}


            nav li a {  display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            }
            nav li a:hover {
            background-color: #056fa0;
            }
            .nav-left{
            float: left
            }
            .nav-right {
            float: right;
            }
            /* Alert bar styling */
            #alert_bar {
            background-color: #ffffff;
            color: black;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 10px 0;
            font-family: 'Arial',
            sans-serif;
            font-size: 16px;
            }
            .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
            }
            .closebtn:hover {
            color: black;
            }
            .alert {
            display: inline-block;
            margin: 0;
            }
            /* Main content styling */
            main {
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }
            /* Mobile responsiveness */
            @media screen and (max-width: 768px) {
            nav ul {
            padding: 0;
            }
            nav li {
            float: none;
            width: 100%;
            text-align: left;
            }
            .float_right
            {
            float: none;
            }
            h1
            {
            font-size: 28px;
            }

        .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
        }

        .list-group {
    margin: 10px 0;
}

.list-group-item {
    margin: 0;
    padding: 0;
}

.alert {
    margin: 0;
}

    .container{
        display:flex;
        justify-content:space-between;
    }
    button{
        background-color:white;
        border:none;
    }
    button:hover{
        background-color:rgba(220, 220, 220, 0.5)
    }
    img{
        max-width:200px
    }
    .btn{
        background-color:#0da2e7;
    }

    input:checked + .slider {
        background-color: #4CAF50;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }

    body.dark-mode {
    background-color: #333;
    color: #000;
}



body.dark-mode .navbar{
    background-color:#E0115F
}}

    </style>

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
<div class="mt-4 p-5 ">
    <h1>Early Years</h1>
    <p style="text-align:center">A place where you can get information valuable for you and your children</p>
  </div>
    <nav class="navbar navbar-expand sticky-top">
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" href="#charities">Charities</a></li>
            <li class ="nav-item"><a class="nav-link" href="#NHS">NHS</a></li>
            <li class="nav-item"><a class="nav-link" href="#community">Community Center</a></li>
            <li class="nav-item"><a class="nav-link" href="#socialservices">Social Services</a></li>
            <li class="nav-item"><a class="nav-link" href="#sendiass">SENDIASS</a></li>
            <li class="nav-item"><a class="nav-link" href="#socialworker">Social Workers</a></li>
            <li class="nav-item"><a class="nav-link" href="#schoolnurse">School Nurse</a></li>
            <li class="nav-item"><a class="nav-link" href="#healthvisitor">Health Visitor</a></li>
            <li class="nav-item"><a class="nav-link" href="#edhealth">EHPs</a></li>
            <li class="nav-item"><a class="nav-link" href="#sendco">SENDco</a></li>
            <li class="nav-item"><a class="nav-link" href="#speach">Speach Therapy</a></li>
            <li class="nav-item"><a class="nav-link" href="#lado">LADO</a></li>
            <li class="nav-item"><a class="nav-link" href="#healthcare">Healthcare Centers</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.citizensadviceswindon.org.uk/">Citizens Advice</a></li>
            {% if current_user.is_authenticated and current_user.username=='admin' %}
            <li class="nav-item"><a class="nav-link" href="/admin">Admin Page</a></li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            {% endif %}
        </ul>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes list-group">
                {% for message in messages %}
                    <li class="list-group-item">
                    <div class="alert alert-success">{{message}}</div>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
    </nav>
    <div id="charities" class="container-fluid">
        <header>
        <h1 class="fw-bold">Charities</h1>
        <h3>charities to go to</h3>
</header>
<br>
<div class="row">
    <div class = "col-sm-3">
    <div class="card">
        <div class="card-header">
            <a class="btn-light" data-bs-toggle="collapse" href="#Actionforchildren"><img alt="Card image cap" class="card-img-top img-fluid" src="static/ActionForChildren.jpg"></a>
        </div>
        <div id="Actionforchildren" class="collapse show" data-bs-parent="#accordian">
            <div class="card-body">
                <p>Driven by love, we take action so children don’t miss out on a safe and happy childhood</p>
                <p>Our vision is that every child and young person has a safe and happy childhood, and the foundations they need to thrive.</p>
                <a href="https://www.actionforchildren.org.uk/" class="btn">Find out more</a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#familyaction"><img alt="Card image cap" class="card-img-top img-fluid" src="static/FamilyAction.jpg"></a>
            </div>
            <div id="familyaction" class="collapse" data-bs-present="#accordian">
                <div class="card-body">
                    <p>Through change, challenge and crisis, Family Action is here for any family in need and anyone without family support. It’s what we’ve done for over 150 years. Across the UK, we protect children, support young people and adults and offer direct, practical help to families and communities.</p>
                    <p>Family Action provides specialist mental health and wellbeing services for adults. They work not only with the individual directly affected but also with their children and whole families. They also provide a small grants programme focuses on the two areas of welfare and education.</p>
                    <a href="https://family-action.org.uk/" class="btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#familyrights"><img alt="Card image cap" class="card-img-top img-fluid" src="static/FamilyRights.jpg"></a>
            </div>
            <div id="familyrights" class="collapse" data-bs-present="#accordian">
                <div class="card-body">
                    <p>Bringing together legal and social work expertise, advice giving, policy and campaigning, and direct work with young people and families.</p>
                    <p>We help families to understand the law and child welfare processes, as well as better understand the concerns of social workers.</p>
                    <a href="https://frg.org.uk/" class="btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#homestart"><img alt="Card image cap" class="card-img-top img-fluid" src="static/HomeStart.jpg"></a>
            </div>
            <div id="homestart" class="collapse" data-bs-present="#accordian">
                <div class="card-body">
                    <p>Home-Start is a voluntary organisation in which volunteers offer regular support, friendship and practical help to young families in their own homes helping to prevent family crisis or breakdown.</p>
                    <p>Home-Start works with families in communities right across the UK. Starting in the home, our approach is as individual as the people we’re helping. No judgement, it is just compassionate, confidential help and expert support.</p>
                    <a href="https://www.home-start.org.uk/" class="btn">Find out more</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <br>
    <br>
    <div id="NHS" class="container-fluid">
        <header>
    <h1 class="fw-bold">NHS</h1>
    <h3>NHS services to use</h3>
</header>

<div class="row">
<div class = "col-sm-4">
<div class="card">
    <div class="card-header">
        <a class="btn-light" data-bs-toggle="collapse" href="#MindMatters"><img alt="Card image cap" class="card-img-top img-fluid" src="static/MindMatters.jpg"></a>
    </div>
    <div id="MindMatters" class="collapse show" data-bs-parent="#accordian">
        <div class="card-body">
            <p>
                Every mind matters show you simple and practical ways to ease anxiety, manage stress, lift your mood and sleep better, through proven approaches like cognitive behavioural therapy (CBT).
            </p>
            <p>
                Get Tips for Anxiety, depression and mental health help and ways to access support
            </p>
            <a href="https://www.nhs.uk/every-mind-matters/" class="btn">Find out more</a>
        </div>
    </div>
</div>
</div>
<div class="col-sm-4">
    <div class="card">
        <div class="card-header">
            <a class="btn-light" data-bs-toggle="collapse" href="#nhsservices"><img alt="Card image cap" class="card-img-top img-fluid" src="static/nhs.jpg"></a>
        </div>
        <div id="nhsservices" class="collapse" data-bs-present="#accordian">
            <div class="card-body">
                <p>The overall options the NHS offer and additional links to where help is available</p>
                <p>To offer support and reassurance online along with specific information about your problem </p>
                <a href="https://www.nhs.uk/nhs-services/" class="btn">Find out more</a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card">
        <div class="card-header">
            <a class="btn-light" data-bs-toggle="collapse" href="#smile4life"><img alt="Card image cap" class="card-img-top img-fluid" src="static/smile4life.jpg"></a>
        </div>
        <div id="smile4life" class="collapse" data-bs-present="#accordian">
            <div class="card-body">
                <p>
                    SMILE4LIFE is a programme of initiatives to improve dental access and oral health in England, complemented by communication and engagement activities to raise awareness of oral health issues and promote healthy dental habits.
                </p>
                <a href="https://www.england.nhs.uk/primary-care/dentistry/smile4life/" class="btn">Find out more</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<br>
<br>

<div id="community" class="container-fluid">
    <header>
        <h1 class="fw-bold">Community Centers</h1>
        <h3>info about community centers</h3>
</header>
<div class="row">
    <div class = "col-sm-4">
    <div class="card">
        <div class="card-header">
            <a class="btn-light" data-bs-toggle="collapse" href="#communitycenters"><h1>Community Centers</h1></a>
        </div>
        <div id="communitycenters" class="collapse show" data-bs-parent="#accordian">
            <div class="card-body">
                <p>to improve the quality of life of local people, especially for those living in the ward being served by the community centre</p>
                <p>serve various activities and programs that aim to uplift and empower the local people. Community centres provide a space for individuals to come together, learn, and grow..</p>
                <a href="https://www.linkedin.com/pulse/social-responsibility-community-centres-" class="btn">Find out more</a>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#youthworkers">Youth Workers</a>
            </div>
            <div id="youthworkers" class="collapse" data-bs-present="#accordian">
                <div class="card-body">
                    <p> Youth workers can change the course of a young person’s life – helping them to gain essential life skills, overcome barriers and unlock their potential.</p>
                    <p>Youth work supports better mental wellbeing, builds confidence and can help engage young people with school or further education, as well as open up opportunities to develop their leadership skills within their youth club.</p>
                    <p>tel:01793 464662</p>
                    <p>email: YOTeam@swindon.gov.uk </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#gp">GPs</a>
            </div>
            <div id="gp" class="collapse" data-bs-present="#accordian">
                <div class="card-body">
                    <p>Collaboration among general practitioner and other professionals leads to better health outcomes  and improved well being for children.</p>
                    <p>Your GP deals with your child's general health and can refer you to clinics, hospitals and specialists when needed.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div id="socialservices" class="container-fluid">
    <header>
        <h1 class="fw-bold">Social Services</h1>
        <h3>info about social services</h3>
</header>

    <div class="row">
        <div class = "col-sm-6">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#TheFamilyService"><h1>The family service</h1></a>
            </div>
            <div id="TheFamilyService" class="collapse show" data-bs-parent="#accordian">
                <div class="card-body">
                    <p>Works with vulrenable children/ YP from birth - 18</p>
                    <p>support children and families who are going through more complex siduations.</p>
                    <p>The Family Group Conference service is a mediated decision-making process led by family members, children and extended family and friends</p>
                    <p>building opens from 9.00am to 5.00pm</p>
                    <p>Telephone: 01793 465111</p>
                    <p>Email: familyservice@swindon.gov.uk</p>
                    <a href="https://www.swindon.gov.uk/info/20045/family_support_services/72/the_family_service" class="btn">Find out more</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <a class="btn-light" data-bs-toggle="collapse" href="#occupationaltherapy"><h1>Youth Workers</h1></a>
                </div>
                <div id="occupationaltherapy" class="collapse" data-bs-present="#accordian">
                    <div class="card-body">
                        <p>Occupational therapy aims to improve your ability to do everyday tasks if you're having difficulties,  free through the NHS or social services, depending on your situation<p>
                            <p>you are able to access occupational therapy by:<p>
                                <p>1)Asking your GP<p>
                                <p>2)find your local council on GOV.UK to ask if you can get occupational therapy<p>
                                    <p>Occupational therapy can help if you:<p>

                                        <p>are physically disabled<p>
                                        <p>are recovering from an illness or operation<p>
                                        <p>have learning disabilities
                                        <p>have mental health problems<p>
                                        <p>are getting older<p>
                                            <p>Occupational therapists work with people of all ages and can look at all aspects of daily life in your home, school or workplace.<p>

                                                <p>They look at activities you find difficult and see if there's another way you can do them.<p>

                                                <p>The Royal College of Occupational Therapists has more information about what occupational therapy is.<p>
                                                    <a href="https://www.nhs.uk/conditions/occupational-therapy/" class="btn">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="sendiass" class="container-fluid">
    <header>
        <h1 class="fw-bold">SENDIASS</h1>
        <h3>info about SENDIASS</h3>
    </header>

    <p>SENDIASS stands for Special Educational Needs and Disabilities Information Advice and Support Service.<p>
    <p>It’s a free, impartial, and confidential service offering information to young people with special educational needs and disabilities (SEND) and to their parents and carers.<p>
    <p>Children and young people have special educational needs (SEN) if they have a learning difficulty which means they need extra support to help them learn or take part in activities in school or college. We often refer to it as SEND which means special educational needs and disabilities.<p>

    <p>When a school identifies a child as having Special Educational Needs (SEN) they will consult with you, any teachers involved in teaching your child and the school SENCO.  Together the decide what help is needed and arrange for this to be provided as part of daily lessons. This is SEN Support and should be written down in a plan.<p>

    <p>Help that can be provided includes:<p>

    <p>different learning materials or special equipment</p>
    <p>group or individual support such as an individual behaviour management programme</p>
    <p>more adult time for planning help and monitoring its effectiveness</p>
    <p>training for staff to enable them to give the child more effective support</p>
    <p>The written SEN Support plan should be reviewed regularly to make sure it’s working and if it’s not
    then changes can be made. This is called the ‘graduated approach’ with four stages of action: assess, plan, do and review.</p>
</div>

<div id="socialworker" class="container-fluid">
    <header>
        <h1 class="fw-bold">Social Workers</h1>
        <h3> info about social workers</h3>
    </header>
    <div class="row">
        <div class = "col-sm-4">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#socialworker">Social Workers</a>
            </div>
            <div id="socialworker" class="collapse show" data-bs-parent="#accordian">
                <div class="card-body">
                    <P>
                        Every day, social workers support millions of people to improve their chances in life. This page helps children and young people learn more about what a social worker is and how it works
                        </P>
                        <P>
                            Meet individuals and families to review their needs and make support plans, give emotional support, build trust and confidence with younger people and to support their overall wellbeing
                        </P>
                        <P>
                            Email: enquiries@socialworkengland.org.uk</p>
                            Or
                            <p>
                            Phone: +44 (0)114 349 4308
                            </P>
                    <a href="https://www.socialworkengland.org.uk/" class="btn">Find out more</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <a class="btn-light" data-bs-toggle="collapse" href="#basw">BASW</a>
                </div>
                <div id="basw" class="collapse" data-bs-present="#accordian">
                    <div class="card-body">
                        <P>BASW congratulates social work and social care recognition in New Year Honours. Honours have been awarded to mark contributions in public life</P>
                        <P>
                            They act for social workers. Supporting, protecting and inspiring social workers in all roles, and the next generations of professionals - also for a better society
                            </P>
                            <P>
                                You can find multiple pop-ups on the web page with all different aspects of social care
                                </P>
                                <a href="https://basw.co.uk/" class="btn">Find out more</a>
                            </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <a class="btn-light" data-bs-toggle="collapse" href="#familylives">Family Lives</a>
                </div>
                <div id="familylives" class="collapse" data-bs-present="#accordian">
                    <div class="card-body">
                        <P>
                            Explaining why social services become involved and referrals to them
                            </P>
                            <P>
                                To provide information and possible explanations as to why they are there and what they do/how they do it
                                </P>
                                <P>Call 0808 800 2222 for the helpline</P>
                                <p>email askus@familylives.org.uk</P>
                            <a href="https://www.familylives.org.uk/advice/your-family/social-services-and-your-family/social-services-and-your-family#:~:text=Referrals%20to%20social%20services%20can,%2C%20health%20visitors%2C%20and%20more." class="btn">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="schoolnurse" class="container-fluid">
<header>
    <h1 class="fw-bold">School Nurses</h1>
    <h3>info about school nurses</h3>
</header>

<P>
    what is a school nurse ? </P>
    <P>
    they provide first aid, health screenings, managing chronic conditions, health education and support for families, collabortation with staff.
    </P>
    <P>
        providing first aid :</P>
        <P>
        they are responsable for administraiting first aid to studants who may get injured or feek unwell during school hours.
        </P>
        <P>
            health screenings:</P>
            <P>
             school nurses conducts regular health screenings, such as vision and hearing tests, to ensure that studants are developing properly and to identify any potential health issues early.
            </P>
            <P>
                managing chronic conditions:</P>
                <P>
                they healp manage chronic health conditions like asthma, dieabetes , or allergies ensuring that studants can participate fully in school activities.
                </P>

                <P>
                    health education:</P>
                    <P>
                    school nurses educate studants about health topics, promoting good hygiene, nutrition, and physical activity to foster lifelong healthy habits.
                    </P>
                    <P>
                        support for families:</P>
                        <P>
                        they provide resources and support for families regarding health concerns, vaccinations and accessing healthcare services.
                        </P>
                        <P>
                            collaboration with staff:</P>
                            <P>
                            school nurses work closely with teachers and other staff to create a safe anf healthy school enviroment, ensuring that childrens health needs are addresses in the educational setting.</P>
                            <P>
                                what qualifications do you need to become a school nurse?:</P>
                                <P>
                                nursing degree, registered nurse,experience, certification in school nursing, continuing education.
                            </P>
                            <P>
                                nursing degree:</P>
                                <P>
                                most school nurses hold a bachelors degree in nursing or and assosiate degree in nursing. this foundational education provides the necessary knowledge and skills in nursinf practices.
                            </P>
                            <P>
                                registered nurse licence:</P>
                                <P>
                                they must be licenced as a registrated nurse which requires passing the NCLEX-RN exam after completing their nursing education.
                            </P>
                            <P>
                                experience:</P>
                                <P>
                                many school districts prefer or require nurses to have some experience in peadiatric or community health nursing as working with children presents unique challeneges and responsabilities.
                            </P>
                            <P>
                                certification in school nursing:</P>
                                <P>
                                some regions offer specialized certification dor school nurses, which may require additional coursework and passing an examination.
                            </P>

                            <P>
                                continuing education:</P>
                                <P>
                                school nurses often need to engage in ongoing education to stay current with health trends, laws, and practices relevent to school health.
                                </P>

                                <P>
                                    roles of school nurse:</P>
                                    <P>
                                    school nurse play a crucial role in promoting student health providing first aid and managing chronic health conditions.
                                    </P>

                                    <P>
                                        how do school nurses handle emergencies during school hours:</P>
                                        <P>
                                        emergency training, assessment, first aid, communication, emergency plans and post-emegency plans.
                                        </P>

                                        <P>
                                            emergency training:</P>
                                            <P>
                                            they recive training in first-aid, cpr, and emergency response proceadures equip[ping them to act swiftly in critical situations.
                                            </P>
                                        <P>
                                            assessment:</P>
                                            <P>
                                            upon arrival at the scene, the school nurse assesses the situation to determine the severity of the emergency and the appropriate response.
                                            </P>

                                            <P>
                                                first-aid:</P>
                                                <P>
                                                they provide immediate first aid to the injured studant which may include wound care, administering medications( if pre-approved) or stabalizing a patient until further hel arrives.
                                                </P>

                                                <P>
                                                    communication:</P>
                                                    <P>
                                                     the school nurse communicates with school staff emergency responders and parents as needed, ensuring that everyone is informed and coordinated in their response.
                                                    </P>
                                                    <P>
                                                        emergency plans:</P>
                                                        <P>
                                                        schools typically have emergency plans in place, which the school nurse follows. this may include evacuation preeadures contacting emegency services and documenting the incident.
                                                        </P>
                                                        <P>
                                                            post-emegency care:</P>
                                                            <P>
                                                            after the emergency the school nurse may provide follow-up care or referrals to healthcare providers, ensuring the student recieves the necessary support.
                                                            </P>


</div>

<div id="healthvisitor" class="container-fluid">
    <header>
        <h1 class="fw-bold">Health Visitor</h1>
        <h3>Information about health visitors</h3>
    </header>
    <P>
        what is a health visitor?
        </P>
        <P>
        they are nurses or midwives who have undertaken additional trianing in public health nursing.
        </P>
        <P>
            referal information -
            - all children 0-5 years (pre-school) are under the care of the health visiting service in the borough they live.
            </P>
            <P>
                how to refer to health visiting service-
                - GPs can refer parents/carers and their children directly to the health visitor via the single point of access for the borough.
                </P>
                <P>
                    helping parents learn and develop the skills required to bring up their children, the health visitor teams healp give the new generation the best possible start in life.
                    </P>
                    <P>
                        - all new babies are referred to the health visiting service in the borough they live by the midwives/maternity teams.
                        </P>
                        <P>
                            - other proferssionals working with a child can contact the health visiting service single point of access for their borough to be linked with the health visitor for that child and family.
                            </P>
                            <P>
                                health visitor qualifications:
                                to become a health visitor you need to be a registered nurse or midwife commited to training and then qualifying as a specialist community public health nurse (SCPHN).
                                </P>
                                <P>
                                    visits:
                                    health visitors often visit families at home especially after the birth of the child they conduct health checks and provide guidence tailored to each familys needs.
                                    </P>
                                    <P>
                                        the health visitors deliver the healthy child programme supporting families to give their children the best possible start in life and reach their full potential.
                                        </P>
                                        <P>
                                            parental supoort:
                                            they offer guidence to parents on various topics, including nutrition, breastfeeding, sleep routines, and managing common childhood illnesses. this support can make parents feel more confident in their parenting journey.
                                            </P>
                                            <P>
                                                advice from health visitor :
                                                they offer guidence on child development helping parents understand the milestones their little ones should be reaching. They also provide tips on nutrition ensuring that children recieve the finest fare for their growing bodies.
                                                </P>
                                                <P>
                                                    support networks:
                                                    they help connect families to other services and support networks ensuring comprehensive care.
                                                    </P>
                                                    <P>
                                                        confidentiality:
                                                        they maintain confidentiality and provide a safe space for parents to discuss their concers.
                                                        </P>
                                                        <P>
                                                            early intervention:
                                                            health visitors are trianed to identify potential health or developmental issues early on. they can refer families to appropriate services if concerns arise, ensuring timely intervention.
                                                            </P>
                                                            <P>
                                                                additionally health visitors can offer support with breastfeeding, sleep routines, and managing common childhood illnesses. they also address parental concerns, offering stratagies for coping with challanges like behaviour or emotional well-being
                                                                </P>
                                                                <P>
                                                                    early intervention:
                                                                    health visitors play a crutial role in identifying any developmental issues earlt on and providing or coordinating appropriate interventions.
                                                                    </P>
                                                                    <P>
                                                                        promoting healthy lifestyle:
                                                                        they educate families about healthy lifestyles, encouraging physical activity, balanced diets, and good mental health practices which are essential for childrens growth and development.
                                                                    </P>
                                                                    <P>
                                                                        community resources:
                                                                         health visitors often connect families with local resources and services, such as parenting classes, support groups, and early years programs, forstering a sense of community.
                                                                        </P>

                <P>
                    useful contacts-
                    Healthy child programme 4 barnet -solutions 4
                    phone:
                    02036334049 / 08007723110
                    </P>
                    <P>
                        email:
                        hcp.4barnet@nhs.net
                        </P>
                        <P>
                        opening hours : monday- friday 9am-5pm
                        </P>
</div>

<div id="edhealth" class="container-fluid">
    <P>
        <header>
            <h1 class="fw-bold">Educational Health Practitioners</h1>
            <h3>Info on Educational Health Practitioners</h3>
        </header>
        what is it?
        is a proffessional who plays a vital role in realm of education and health often working to bridge the gap between these two important feilds.
        </P>
        <P>
            what training is needed?
            they need a solid foundationin both education and health related feilds. this often includes a bachalors degree in education,psychology, social work or a related area. many practioners also persue specialised training or certifications in areas such as school counsulling or special eduction.
            </P>
            <P>
                they assess studants health and emotional needs,provide couselling and support develop intervention plans and collaborate with teachders and parents to create a nurturing learning enviroment.
                </P>
                <P>
                    may conduct workshops or training sessions to educate staff and studants about mental health awareness and stratagies for coping with challenges. their ultimate goal is to ensure that studants can thrive both acedimically and personally addressing any barriers that may impede their success.
                    </P>
                    <P>
                        couselling and support:
                        they often provide individual or group support sessions to help studants navigate emotional challenges build resilience and develop coping stratagies.
                        </P>
                        <P>
                            behavioral interventions:
                            practitioners may implement positive behaviour support plans to encourage desiered behaviour and reduce disruptive actions within the classroom.
                            </P>
                            <P>
                                skill-building workshop:
                                they conduct workshops focusing on social skills, emotional regulation, and stress management, empowering studants with tools for persoanl grwoth.
                                </P>
                                <P>
                                    collaborating with educators;
                                    working closely with teachers they help adapt teaching methods and classroom enviroments to meet the diverse needs of the studants
                                    </P>
</div>

<div id="sendco" class="container-fluid">
    <header>
        <h1 class="fw-bold">SENDco</h1>
        <h3>info about SENDco</h3>
    </header>
    <div class="row">
        <div class = "col-sm-4">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#scopeorg">scope.org</a>
            </div>
            <div id="scopeorg" class="collapse show" data-bs-parent="#accordian">
                <div class="card-body">
                    <P>
                        SEN Support is available at all levels of education, from nursery to further education. If SEN Support is not enough to meet the needs of your child, you can apply for an Education, Health and Care (EHC) assessment.
                        </P>
                        <P>
                            To let parents know and learn more about their child’s SEND needs and what can be put in place to help them
                            </P>
                            <P>
                                Email: helpline@scope.org.uk or call 0808 800 3333
                                </P>
                    <a href="https://www.scope.org.uk/advice-and-support/where-to-get-educational-support?gad_source=1&gclid=Cj0KCQiAs5i8BhDmARIsAGE4xHyv8oChMsadcZXHnZm_BozmQqd5rKl0QlnlkV9MrEC5HjgXuzMTcSQaAtyGEALw_wcB" class="btn">Find out more</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <a class="btn-light" data-bs-toggle="collapse" href="#judicium">judicium</a>
                </div>
                <div id="judicium" class="collapse" data-bs-present="#accordian">
                    <div class="card-body">
                        <P>
                            Helps your school deliver outstanding SEND provision that’s inclusive, impactful and works for everyone in your school community. They partner with schools and Academy Trusts to provide advice and guidance, ensure compliance and give your staff the tools and confidence they need to support pupils with SEND effectively.
                            </P>
                            <P>
                                They designed a SEND Support Service. Their team helps your school deliver outstanding SEND provision that’s inclusive, impactful and works for everyone in your school community
                                </P>
                        <a href="https://www.judiciumeducation.co.uk/send-service?utm_source=judicium&utm_medium=google-ads&utm_campaign=send&utm_term=school%20not%20meeting%20sen%20needs&utm_campaign=SEND+Service+2024&utm_source=adwords&utm_medium=ppc&hsa_acc=1777725818&hsa_cam=21012175609&hsa_grp=161636282071&hsa_ad=690425944496&hsa_src=g&hsa_tgt=kwd-2154531231062&hsa_kw=school%20not%20meeting%20sen%20needs&hsa_mt=b&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQiAs5i8BhDmARIsAGE4xHyYduc_kdjSyoKd4J_vWuYpLp2Dt6tTBekp9RBBsr36r93b8NbCuuQaArRuEALw_wcB" class="btn">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <a class="btn-light" data-bs-toggle="collapse" href="#actionsend">Action For Children</a>
                </div>
                <div id="actionsend" class="collapse" data-bs-present="#accordian">
                    <div class="card-body">
                        <p>
                            If your child has additional needs or special educational needs (SEN), their school can offer extra support.
                        </p>
                            <p>
                            Most children with additional needs go to a mainstream school. But this depends on what you feel is best for your child.</p>
                            <p>
                                To talk to your child’s school and let them know about any important changes to your child’s needs, if they are getting SEN support and how the teachers are helping/encouraging the child</p>
                        <a href="https://parents.actionforchildren.org.uk/school-life/special-education-needs-disabilities-send/sen-support/?gad_source=1&gclid=Cj0KCQiAqL28BhCrARIsACYJvkewMmu8YcfBEhrfWrAJnlIb6xtRt93U6iWdzLZ1tsfmEo25he36mHQaAllqEALw_wcB" class="btn">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>

<div id="counsellor" class="container-fluid">
    <header>
        <h1 class="fw-bold">Councellors</h1>
        <h3>info about councellors</h3>
    </header>
    <h2>Dr. Rebecca Eaton</h2>
    <p>A child counsellor is a mental health professional who specialises in dealing with social, emotional and psychological issues faced by children and adolescents, such as anxiety, depression, grief, divorce-related issues and bullying.
        The main duties of a child counsellor involve conducting intake sessions to assess the child's issues, overseeing counselling sessions and treatment approaches, continuously adjusting the treatment plan based on patient's needs and maintaining regular communication with caregivers and other stakeholders.
        To become a child counsellor, a Diploma of Counselling or a bachelor degree in counselling or social work is an essential qualification, and key skills include patience, active listening, effective communication, mediation abilities and enthusiasm.</p>
    <p>
        The therapies I use are Cognitive Behavioural Therapy (CBT), Compassion Focused Therapy (CFT), Narrative Therapy, Acceptance and Commitment Therapy (ACT), Dialectic Behavioural Therapy (DBT) and Systemic Therapy. I also provide specialist clinical supervision for professionals.
    </p>
    <p>The Brook Therapy Rooms

        350 Omega Court

        Sheffield S11

        0114 697 9736</p>

        <a href="https://www.psychologytoday.com/gb/counselling/rebecca-eaton-sheffield/1364970" class="btn">Find out more</a>
</div>

<div id="speach" class="container-fluid">
    <header>
        <h1 class="fw-bold">Speach and Language Therapy</h1>
        <h3>info about speach and language therapy</h3>
    </header>
    <h2>What is speach and language therapy?</h2>
    <p>Speach and language therapy provides treatment, support and care for chilfren and adults who have difficulties with communication, or with eating, drinking and swallowing.</p>
    <h2>How to make a referral</h2>
    <p>if youre concerned  about your childs speach and language you can talk to your GP or your childs school about a referal </p>
    <h2>Local Offer</h2>
    <p>Children who are reffered to Speach and Language Therapy will receive an assessment of their strencgths and needs. This might be through observations, discussions or direct assessment.</p>
    <p>Advice and support is then given to parents, carers and others who spend time with the child to help them best support the childs speach, language and communication needs</p>
    <p>We also work with other people who spend time with the child. This might be parents, carers, school staff, child minders, grandparents, docters, nurses, physiotherapists or teachers of the deaf</p>
    <h2>Specialist therapist offers in swindon</h2>
    <p>AAS (Alternative and Augmentative Communication) - This refers to a range of techniques of communication  for children who find using their voice difficult. This includes signing/ gestures, symbols/ pictures, communication boards/ books and voice output communication devices. Children who attend Special schools and need AAC are usually supported by the therapist who is based in that school, but they may also seek advice from the AAC specialist therapist. Children in mainstream schools and early years settings who need AAC are usually seen on the AAC specialist caseload. They work closely with the Advisory Teacher for Assistive Technology and also Occupational Therapists. </p>
    <p>Autism Spectrum Conditions: Children with ASC may be seen in a range of settings, including, home, early years or school settings.</p>

</div>

<div id="lado" class="container-fluid">
    <header>
        <h1 class="fw-bold">LADO</h1>
        <h3>info about LADO</h3>
    </header>
    <div class="row">
        <div class = "col-sm-6">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#leeds">leeds gov</a>
            </div>
            <div id="leeds" class="collapse show" data-bs-parent="#accordian">
                <div class="card-body">
                    <P>
                        The Local Authority Designated Officer (LADO) is the person who should be notified when it has been alleged that a professional or volunteer who works with children has harmed the child or possibly committed an offence on or against a child etc
                        </P>
                        <P>
                            The role involves having oversight of allegations about practitioners which meet the above criteria, ensuring that these allegations or concerns about adults working or volunteering with children are recorded appropriately, monitored and progressed in a timely and confidential way. - The child’s voice should be heard through every step
                            </P>
                            <P>
                                Call 0113 222 4444
                                Or
                                Message on Facebook - /LeedsCouncil
                                Or
                                Message on Twitter - @LeedsCC_Help
                            </P>
                    <a href="https://www.leeds.gov.uk/one-minute-guides/lado#:~:text=The%20Local%20Authority%20Designated%20Officer%20(LADO)%20is%20the%20person%20who,or%20related%20to%20a%20child" class="btn">Find out more</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <a class="btn-light" data-bs-toggle="collapse" href="#nln">National LADO Network</a>
                </div>
                <div id="nln" class="collapse" data-bs-present="#accordian">
                    <div class="card-body">
                        <P>
                            The Officer LADO is responsible for managing allegations against adults who work with children. This involves working with police, children's social care, employers and other involved professionals.
                            </P>
                            <P>
                                The LADO must be contacted within one working day in respect of all cases in which it is alleged that a person who works with children has harmed or may harm a child, has committed an offence against or related to a child etc (more info on page)
                                </P>
                                <p>can send a message on the website to contact</p>
                        <a href="https://national-lado-network.co.uk/the-role-of-the-lado-local-authority-designated-officer/" class="btn">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>

<div id="healthcare" class="container-fluid">
    <header>
        <h1 class="fw-bold">Healthcare Centers</h1>
        <h3> info about healthcare centers</h3>
    </header>
    <div class="row">
        <div class = "col-sm-4">
        <div class="card">
            <div class="card-header">
                <a class="btn-light" data-bs-toggle="collapse" href="#Eldene">Eldene Healthcare Center</a>
            </div>
            <div id="Eldene" class="collapse show" data-bs-parent="#accordian">
                <div class="card-body">

                    <p>Eldene Health Centre is one of the leading GP practice in Swindon.</p>

                    <p>
                        Services offered by Eldene Health Centre are Learning disability health check and others. Prescription Service (EPS) which allows you to get your medicines with out the need of paper prescription. Eldene Health Centre ( Dr Guilding's Surgery) has medical staff of 1 to cater to your healthcare needs.
                    </p>
                    <p>
                        01793 480111
                        Eldene Health Centre, Swindon SN3 3RZ
                    </p>
                    <a href="https://healthgps.co.uk/gp/15131-eldene-health-centre-(-dr-guilding's-surgery)/" class="btn">Find out more</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <a class="btn-light" data-bs-toggle="collapse" href="#Hawthorn">Hawthorne Healthcare Center</a>
                </div>
                <div id="Hawthorn" class="collapse" data-bs-present="#accordian">
                    <div class="card-body">
                        <p>Hawthorn medical center.</p>
                        <p>Our dedicated team are here to treat those minor ailments that occur as well as providing specialist management of long-term conditions and clinics covering a wide range of healthcare issues. The technology also means you can now do a lot of things from the comfort of your home such as order a repeat prescription or cancel an appointment. </p>
                        <p>01793 536541
                            May Close Cricklade Road, Swindon SN2 1UU</p>
                        <a href="https://www.hawthornmedicalcentre.co.uk/" class="btn">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <a class="btn-light" data-bs-toggle="collapse" href="#Moredon">Moredon Healthcare center</a>
                </div>
                <div id="Moredon" class="collapse" data-bs-present="#accordian">
                    <div class="card-body">
                        <p>Moredon Medical center</p>
                        <p>
                            Book directly into seeing one of our Physiotherapists!.
Book directly into seeing one of our Mental Health Nurses!.
Get an appointment as early as 8.00am or as late as 8.00pm.
Book a GP telephone consultation if you find that more convenient.
Gain access to a Social Prescriber
                        </p>
                        <p>01793 342000
                            Moredon Road, Swindon SN2 2JG</p>
                        <a href="https://www.westropmedicalpractice.nhs.uk/" class="btn">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
        </div>


</div>


<script src="static/script.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const toggleSwitch = document.getElementById('modeToggle');
    const body = document.body;

    if (localStorage.getItem('theme') === 'dark') {
        body.classList.add('dark-mode');
        if (toggleSwitch) {
            toggleSwitch.checked = true;
        }
    }

    if (toggleSwitch) {
        toggleSwitch.addEventListener('change', () => {
            if (toggleSwitch.checked) {
                body.classList.add('dark-mode');
                localStorage.setItem('theme', 'dark');
            } else {
                body.classList.remove('dark-mode');
                localStorage.setItem('theme', 'light');
            }
        });
    }
});
    </script>
</body>
</html>